services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-marketlens}
      POSTGRES_USER: ${POSTGRES_USER:-marketlens}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-marketlens}
    # ports:
    #   - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    # ports:
    #   - "6379:6379"

  api:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.api
    env_file:
      - ../../.env
    environment:
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    ports:
      - "${API_PORT:-8080}:8080"
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
