services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-marketlens}
      POSTGRES_USER: ${POSTGRES_USER:-marketlens}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-marketlens}
    # ports:
    #   - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-marketlens} -d ${POSTGRES_DB:-marketlens}"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7
    # ports:
    #   - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s

  api:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.api
    env_file:
      - ../../.env
    environment:
      POSTGRES_HOST: postgres
      REDIS_HOST: redis
    ports:
      - "${API_PORT:-8081}:8081"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  pgdata:
